name: Build Docker Image

on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build And Push 7.1-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/7.1/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:7.1-alpine
      - name: Build And Push 7.2-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/7.2/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:7.2-alpine
      - name: Build And Push 7.3-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/7.3/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:7.3-alpine
      - name: Build And Push 7.4-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/7.4/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:7.4-alpine
      - name: Build And Push 8.0-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/8.0/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:8.0-alpine
      - name: Build And Push 8.1-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/8.1/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:8.1-alpine
      - name: Build And Push 8.2-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/8.2/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:8.2-alpine
      - name: Build And Push 8.3-alpine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/8.3/Dockerfile-alpine
          push: true
          tags: umutphp/php-docker-images-for-ci:8.3-alpine,umutphp/php-docker-images-for-ci:latest-alpine
      - name: Build And Push 7.1
        uses: docker/build-push-action@v2
        with:
          context: ./images/7.1/
          push: true
          tags: umutphp/php-docker-images-for-ci:7.1
      - name: Build And Push 7.2
        uses: docker/build-push-action@v2
        with:
          context: ./images/7.2/
          push: true
          tags: umutphp/php-docker-images-for-ci:7.2
      - name: Build And Push 7.3
        uses: docker/build-push-action@v2
        with:
          context: ./images/7.3/
          push: true
          tags: umutphp/php-docker-images-for-ci:7.3
      - name: Build And Push 7.4
        uses: docker/build-push-action@v2
        with:
          context: ./images/7.4/
          push: true
          tags: umutphp/php-docker-images-for-ci:7.4
      - name: Build And Push 8.0
        uses: docker/build-push-action@v2
        with:
          context: ./images/8.0/
          push: true
          tags: umutphp/php-docker-images-for-ci:8.0
      - name: Build And Push 8.1
        uses: docker/build-push-action@v2
        with:
          context: ./images/8.1/
          push: true
          tags: umutphp/php-docker-images-for-ci:8.1
      - name: Build And Push 8.2
        uses: docker/build-push-action@v2
        with:
          context: ./images/8.2/
          push: true
          tags: umutphp/php-docker-images-for-ci:8.2
      - name: Build And Push 8.3
        uses: docker/build-push-action@v2
        with:
          context: ./images/8.3/
          push: true
          tags: umutphp/php-docker-images-for-ci:8.3,umutphp/php-docker-images-for-ci:latest
